Thanda.xcodeproj
Thanda.build
DerivedData
CMakeScripts
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user
cmake_install.cmake
Makefile
Thanda
/callgrind.out.19241
/CMakeLists.txt~
build